/**
  * Common styles
  */

html {
  height: 100%;
}

body {
  background-color: #151414;
  color: #eee;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #0e0e0e;
  border: 2px solid #cecece;
  color: #dcdbdb;
  display: inline-block;
  border-radius: 3px;
  padding: 5px 15px;
  user-select: none;
}

.pre {
  white-space: pre;
}

.button:hover {
  cursor: pointer;
  border-color: #fff;
  color: #fff;
}

.button.large {
  padding: 15px 60px;
}

/**
  * Area-specific styles
  */

.stats {
  flex-shrink: 1;
  background-color: #000;
  border-bottom: 2px solid #3a3a3a;
  padding: 10px;
}

.stats .name {
  color: #bbb;
}

.stats .value {
  color: #eee;
}

.stats #visit-count {
  color: #ff0;
}

.stats #money-count {
  color: #0f0;
}

.root {
  display: flex;
  height: 100%;
}

.root .traffic {
  text-align: center;
  flex-basis: 300px;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #3a3a3a;
}

.root .traffic .access-logs-header {
  text-align: left;
  margin: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.root .traffic .access-logs {
  text-align: left;
  flex-grow: 1;
  display: flex;
  margin: 10px;
  font-size: 14px;
  overflow: hidden;
}

.root .traffic .access-logs .container {
  align-self: flex-end;
}

.root .traffic .access-logs .container .status-good {
  color: #1ebd1e
}

.root .traffic .access-logs .container .status-bad {
  color: #a50909
}

.root .traffic .access-logs .container .handled-by {
  color: rgb(13, 105, 148);
}

.root .traffic .access-logs .container .path {
  color: #aaa;
}

.root .game {
  flex-grow: 1;
  padding: 10px;
}

.root .game .header {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.root .game .infrastructure .server-name {
  padding-bottom: 5px;
  text-transform: up
}

.root .game .infrastructure .server {
  display: flex;
  margin-left: 5px;
}

.root .game .infrastructure .server .vm {
  border: 1px solid #888;
  padding: 20px;
  margin: 0 10px 10px 0;
  text-align: center;
}

.root .game .infrastructure .server .vm .name {
  padding-bottom: 5px;
}

.root .game .infrastructure .server .vm .stat {
  font-size: 12px;
  color: #aaa;
}

.root .game .infrastructure .server .vm .stat.good {
  color: #0f0;
}

.root .game .infrastructure .server .vm .stat.good-dark {
  color: #0d920d;
}

.root .game .infrastructure .server .vm .stat.warn {
  color: #ff0;
}

.root .game .infrastructure .server .vm .stat.crit {
  color: #f00;
}

.root .game .infrastructure .server .vm.empty {
  border: 1px dashed #444;
}